model:
    __type__: configs.Transformer_Config
    tmix: qwen2
    classname: qwen2
    ctx_len: 4096
    vocab_size: 151936
    vocab_padding_idx: 151646 
    num_key_value_heads: 2
    n_embd: 896
    dim_ffn: 4864
    n_layer: 24
    rope:
        __type__: configs.RoPE_Config
        base: 1000000.0

train:
  teacher:
    path: out/qwen2-0B5.safetensors
    model:
      __type__: configs.Transformer_Config
      #tmix: qwen2
      classname: qwen2
      ctx_len: 4096
      vocab_size: 151936
      vocab_padding_idx: 151646 
      num_key_value_heads: 2
      n_embd: 896
      dim_ffn: 4864
      n_layer: 24
      rope:
          __type__: configs.RoPE_Config
          base: 1000000.0
